@charset "UTF-8";
/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */
/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */ }

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto; }

/*
* Hide visually and from screen readers, but maintain layout
*/
.invisible {
  visibility: hidden; }

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre {
    white-space: pre-wrap !important; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

* {
  margin: 0; }

@font-face {
  font-family: "FuturaLT";
  src: url(../fonts/FuturaLT.woff2); }

@font-face {
  font-family: "FuturaLT";
  src: url(../fonts/FuturaLT-Bold.woff2);
  font-weight: bold; }

@font-face {
  font-family: "FuturaLT-Oblique";
  src: url(../fonts/FuturaLT-Oblique.woff2); }

@font-face {
  font-family: "Helvetica Neue";
  src: url(../fonts/HelveticaNeueLight.woff2); }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MYRIADPRO-REGULAR.woff"); }

.medium-containter, .big-container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box; }

.big-container {
  max-width: 1458px; }

.button {
  color: #4cc1dd;
  font-family: "Helvetica Neue LT";
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  /* Text style for "Let’s Star" */
  letter-spacing: 1.08px;
  border-radius: 25px;
  border: 1px solid #00aeef;
  padding: 14px 82px; }
  .button:hover {
    background-color: gray;
    color: #ffffff;
    border-color: #575757; }

#menuToggle input {
  display: none; }

@media (max-width: 719px) {
  #menuToggle {
    display: block;
    position: relative;
    top: 16px;
    float: right;
    margin-right: -10px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none; }
  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none; }
  /*
   * Just a quick hamburger
   */
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #111111;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }
  #menuToggle span:first-child {
    transform-origin: 0% 0%; }
  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%; }
  /*
   * Transform all the slices of hamburger
   * into a crossmark.
   */
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323; }
  /*
   * But let's hide the middle one.
   */
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2); }
  /*
   * Ohyeah and the last one should go the other direction
   */
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px); }
  /*
   * Make this absolute positioned
   * at the top left of the screen
   */
  #menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -800px;
    padding: 50px;
    padding-top: 125px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }
  #menu li {
    padding: 10px 0;
    font-size: 22px; }
  /*
   * And let's slide it in from the left
   */
  #menuToggle input:checked ~ ul {
    transform: translate(175%, 0); } }

.header {
  background-color: #f3f3f3; }
  .header__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #aaaaaa;
    padding-left: 39px;
    padding-right: 39px;
    height: 90px; }
  .header__logo {
    display: block;
    margin-bottom: auto;
    margin-top: auto; }
    .header__logo__image {
      width: 200px;
      height: 50px; }
  .header__navigation {
    margin-top: auto;
    margin-bottom: auto; }

.navigation {
  text-decoration: none; }
  .navigation a {
    text-decoration: none; }
  @media (min-width: 720px) {
    .navigation {
      display: flex;
      flex-direction: row; } }
  .navigation__item {
    color: #818181;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    list-style: none;
    text-decoration: none;
    padding-top: 14px;
    letter-spacing: 1px; }
    .navigation__item a {
      color: #818181; }
    .navigation__item:last-child {
      margin-right: 14px; }
  .navigation__item + .navigation__item {
    margin-left: 18px; }

.section {
  padding-top: 30px;
  padding-bottom: 30px;
  background-repeat: no-repeat; }
  @media (min-width: 720px) {
    .section {
      padding-top: 169px;
      padding-bottom: 158px; } }
  .section__container {
    margin-left: 10px;
    margin-right: 10px; }
    @media (min-width: 1458px) {
      .section__container {
        margin-left: auto;
        margin-right: auto; } }
  .section__header, .section__subheader {
    color: #616161;
    font-family: 'FuturaLT', arial, sans-serif;
    font-size: 41px;
    font-weight: bold;
    line-height: 45px;
    text-transform: uppercase;
    max-width: 770px;
    margin: 0;
    letter-spacing: 1px; }
  .section__subheader {
    color: #4cc1dd; }
  .section__text {
    color: #616161;
    font-family: "Myriad Pro", arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-top: 35px;
    max-width: 653px;
    line-height: 33px; }
  .section__button {
    margin-top: 20px;
    padding: 13px 42px; }
    @media (min-width: 720px) {
      .section__button {
        margin-top: 63px; } }
  @media (min-width: 720px) {
    .section:nth-child(2n) {
      text-align: right; }
      .section:nth-child(2n) > * > * {
        margin-left: auto; } }

.section--1 {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f4f4f4; }
  @media (min-width: 1370px) {
    .section--1 {
      background-image: url(../img/back-section-1.png);
      background-position-x: 643px;
      background-position-y: 43px; } }
  .section--1__text {
    margin-top: 20px; }
  @media (min-width: 256px) {
    .section--1 {
      padding-top: 201px;
      padding-bottom: 238px; } }
  .section--1__button {
    background-color: #f4f4f4;
    padding: 14px 82px; }
    @media (min-width: 720px) {
      .section--1__button {
        margin-top: 34px; } }

.section--2 {
  color: white;
  background-color: #4ac2dd; }
  @media (min-width: 1370px) {
    .section--2 {
      background-image: url(../img/back-section-2.png);
      background-position-x: 56px;
      background-position-y: 73px; } }
  .section--2 > * > * {
    color: #ffffff; }
  .section--2__button {
    background-color: #4dc0dd;
    border-color: #ffffff; }

.section--3 {
  color: white;
  background-color: #064d63; }
  @media (min-width: 1370px) {
    .section--3 {
      background-image: url(../img/back-section-3.png);
      background-position-x: 795px;
      background-position-y: 102px; } }
  .section--3 > * > * {
    color: #ffffff; }
  .section--3__button {
    background-color: #064d63;
    border-color: #ffffff; }

.section--4 {
  color: #616161;
  background-color: #f4f4f4; }
  @media (min-width: 1370px) {
    .section--4 {
      background-image: url(../img/back-section-4.png);
      background-position-x: 56px;
      background-position-y: 73px; } }
  .section--4 > * > * {
    color: #616161; }
  .section--4__button {
    background-color: #f4f4f4;
    border-color: #ffffff; }

.section--5 {
  color: white;
  background-color: #4ac2dd; }
  @media (min-width: 1370px) {
    .section--5 {
      background-image: url(../img/back-section-5.png);
      background-position-x: 653px;
      background-position-y: 153px; } }
  .section--5 > * > * {
    color: #ffffff; }
  .section--5__button {
    background-color: #4ac2dd;
    border-color: #ffffff; }

.slogan-section {
  margin-top: 43px;
  margin-bottom: 43px;
  display: flex;
  flex-direction: column; }
  @media (min-width: 720px) {
    .slogan-section {
      flex-direction: row;
      justify-content: space-between; } }
  .slogan-section__text {
    color: #616161;
    font-family: 'FuturaLT', arial, sans-serif;
    font-size: 35px;
    font-weight: bold;
    line-height: 45px;
    text-transform: uppercase; }
  .slogan-section__button {
    border-radius: 32px;
    border: 1px solid #616161;
    background-color: #616161;
    color: white;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    /* Text style for "sEE PRICES" */
    letter-spacing: 1.44px;
    padding: 14px 70px;
    width: 150px;
    margin-top: 20px; }
    @media (min-width: 720px) {
      .slogan-section__button {
        width: initial;
        margin-top: 0; } }

.graphic-section {
  text-align: center;
  background-color: #064d63;
  padding-top: 83px;
  position: relative; }
  @media (min-width: 1370px) {
    .graphic-section {
      min-height: 954px;
      box-sizing: border-box; } }
  .graphic-section__header {
    color: #ffffff;
    font-family: 'FuturaLT', arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 45px;
    text-transform: uppercase;
    max-width: 807px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px; }
    .graphic-section__header:after {
      content: "";
      width: 51px;
      height: 9px;
      border-radius: 5px;
      border: 1px solid #ffffff;
      background-color: #ffffff;
      position: absolute;
      top: 190px;
      left: 50%; }
  .graphic-section__text {
    color: #ffffff;
    font-family: "Myriad Pro", arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px; }
  @media (min-width: 1370px) {
    .graphic-section--people__text {
      color: #616161;
      width: 347px;
      position: absolute;
      top: 311px;
      left: 819px;
      z-index: 20; } }
  .graphic-section--people__cloud {
    display: none; }
    @media (min-width: 1370px) {
      .graphic-section--people__cloud {
        display: block;
        top: 278px;
        position: absolute;
        left: 779px;
        z-index: 10; } }
  .graphic-section--people__graphics-1 {
    display: none; }
    @media (min-width: 1370px) {
      .graphic-section--people__graphics-1 {
        display: block;
        position: absolute;
        top: 458px;
        left: 143px; } }
  .graphic-section--people__graphics-2 {
    display: none; }
    @media (min-width: 1370px) {
      .graphic-section--people__graphics-2 {
        display: block;
        position: absolute;
        top: 357px;
        left: 592px; } }
  .graphic-section--people__graphics-3 {
    display: none; }
    @media (min-width: 1370px) {
      .graphic-section--people__graphics-3 {
        display: block;
        position: absolute;
        top: 454px;
        left: 1112px; } }

/*# sourceMappingURL=maps/main.css.map */
