.button {
  color: #4cc1dd;
  font-family: $second-font;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  /* Text style for "Let’s Star" */
  letter-spacing: 1.08px;
  border-radius: 25px;
  border: 1px solid #00aeef;
  padding: 14px 82px;
  &:hover {
    background-color: gray;
    color: #ffffff;
    border-color: #575757;
  }
}

