$color-1: #d0cdcd;
$color-2: #818181;
$color-3: #616161;
$color-4: #4cc1dd;
$light-color: #ffffff;
$dark-color: #111111;
$background-color-1: #f4f4f4;
$background-color-2: #4ac2dd;
$background-color-3: #4dc0dd;
$background-color-4: #064d63;
$background-color-5: $color-3;
$background-color-6: #f3f3f3;
$background-color-7: $light-color;
$background-color-8: #cdcdcd;


$border-color-1: #aaaaaa;
$border-color-2: $light-color;
$border-color-3: #000000;

