
.header {
  background-color: $background-color-6;
  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid $border-color-1;
    padding-left: 39px;
    padding-right: 39px;
    height: 90px;

  }
  &__logo {
    display: block;
    margin-bottom: auto;
    margin-top: auto;
    &__image {
      width: 200px;
      height: 50px;
    }
  }
  &__navigation {
    margin-top: auto;
    margin-bottom: auto;
  }
}

.navigation {
  text-decoration: none;
  a {
    text-decoration: none;
  }
  @media (min-width: 720px) {
    display: flex;
    flex-direction: row;
  }
  &__item {
    color: $border-color-1-2;
    a {
      color: $border-color-1-2;
    }
    font-family: $second-font;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    list-style: none;
    text-decoration: none;
    padding-top: 14px;
    letter-spacing: 1px;
    &:last-child {
      margin-right: 14px;
    }
  }
  &__item + &__item {
    margin-left: 18px;
  }
}