.section {
  padding-top: 30px;
  padding-bottom: 30px;
  @media (min-width: 720px) {
    padding-top: 169px;
    padding-bottom: 158px;
  }
  background-repeat: no-repeat;
 &__container {
   margin-left: 10px;
   margin-right: 10px;
   @media (min-width: 1458px) {
     margin-left: auto;
     margin-right: auto;
   }
 }
  &__header {
    color: #616161;
    font-family: 'FuturaLT', arial, sans-serif;
    font-size: 41px;
    font-weight: bold;
    line-height: 45px;
    text-transform: uppercase;
    max-width: 770px;
    margin: 0;
    letter-spacing: 1px;
  }
  &__subheader {
    @extend .section__header;
    color: #4cc1dd;
  }
  &__text {
    color: #616161;
    font-family: "Myriad Pro", arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-top: 35px;
    max-width: 653px;
    line-height: 33px;
  }
  &__button {
    margin-top: 20px;
    padding: 13px 42px;
    @media (min-width: 720px) {
      margin-top: 63px;
    }
  }
  &:nth-child(2n) {
    @media (min-width: 720px) {
      text-align: right;
      & > * > * {
        margin-left: auto;
      }
    }
  }
  &:nth-child(2n+1) {

  }
}

.section--1 {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f4f4f4;
  @media (min-width: 1370px) {
    background-image: url(../img/back-section-1.png);
    background-position-x: 643px;
    background-position-y: 43px;
  }
  &__text {
    margin-top: 20px;
  }
  @media (min-width: 256px) {
    padding-top: 201px;
    padding-bottom: 238px;
  }
  &__button {
    background-color: #f4f4f4;
    padding: 14px 82px;
    @media (min-width: 720px) {
      margin-top: 34px;
   }
  }
}

.section--2 {
  color: white;
  background-color: #4ac2dd;
  @media (min-width: 1370px) {
    background-image: url(../img/back-section-2.png);
    background-position-x: 56px;
    background-position-y: 73px;
  }
  & > * > * {
    color: #ffffff;
  }
  &__button {
    background-color: #4dc0dd;
    border-color: #ffffff;
  }
}

.section--3 {
  color: white;
  background-color: #064d63;
  @media (min-width: 1370px) {
    background-image: url(../img/back-section-3.png);
    background-position-x: 795px;
    background-position-y: 102px;
  }
  & > * > * {
    color: #ffffff;
  }
  &__button {
    background-color: #064d63;
    border-color: #ffffff;
  }
}

.section--4 {
  color: #616161;
  background-color: #f4f4f4;
  @media (min-width: 1370px) {
    background-image: url(../img/back-section-4.png);
    background-position-x: 56px;
    background-position-y: 73px;
  }
  & > * > * {
    color: #616161;
  }
  &__button {
    background-color: #f4f4f4;
    border-color: #ffffff;
  }
}

.section--5 {
  color: white;
  background-color: #4ac2dd;
  @media (min-width: 1370px) {
    background-image: url(../img/back-section-5.png);
    background-position-x: 653px;
    background-position-y: 153px;
  }
  & > * > * {
    color: #ffffff;
  }
  &__button {
    background-color: #4ac2dd;
    border-color: #ffffff;
  }
}

.slogan-section {
  margin-top: 43px;
  margin-bottom: 43px;
  display: flex;
  flex-direction: column;
  @media (min-width: 720px) {
    flex-direction: row;
    justify-content: space-between;
  }
  &__text {
    color: #616161;
    font-family: 'FuturaLT', arial, sans-serif;
    font-size: 35px;
    font-weight: bold;
    line-height: 45px;
    text-transform: uppercase;
  }
  &__button {
    border-radius: 32px;
    border: 1px solid #616161;
    background-color: #616161;
    color: white;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    /* Text style for "sEE PRICES" */
    letter-spacing: 1.44px;
    padding: 14px 70px;
    width: 150px;
    margin-top: 20px;
    @media (min-width: 720px) {
      width: initial;
      margin-top: 0;
    }
  }
}

.graphic-section {
  text-align: center;
  background-color: #064d63;
  padding-top: 83px;
  position: relative;
  @media (min-width: 1370px) {
    min-height: 954px;
    box-sizing: border-box;
  }
  &__header {
    color: #ffffff;
    font-family: 'FuturaLT', arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 45px;
    text-transform: uppercase;
    max-width: 807px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    &:after {
      content: "";
      width: 51px;
      height: 9px;
      border-radius: 5px;
      border: 1px solid #ffffff;
      background-color: #ffffff;
      position: absolute;
      top: 190px;
      left: 50%;
    }
  }
  &__text {
    color: #ffffff;
    font-family: "Myriad Pro", arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
  }
  &--people {
    &__text {
      @media (min-width: 1370px) {
        color: #616161;
        width: 347px;
        position: absolute;
        top: 311px;
        left: 819px;
        z-index: 20;
      }
    }
    &__cloud {
      display: none;
      @media (min-width: 1370px) {
        display: block;
        top: 278px;
        position: absolute;
        left: 779px;
        z-index:10;
      }
    }
    &__graphics-1 {
      display: none;
      @media (min-width: 1370px) {
        display: block;
        position: absolute;
        top: 458px;
        left: 143px;
      }
    }
    &__graphics-2 {
      display: none;
      @media (min-width: 1370px) {
        display: block;
        position: absolute;
        top: 357px;
        left: 592px;
      }
    }
    &__graphics-3 {
      display: none;
      @media (min-width: 1370px) {
        display: block;
        position: absolute;
        top: 454px;
        left: 1112px;
      }
    }
  }
}